table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.gameCell {
	height: 200px;
	width: 200px;
	text-align: center;
	font-size: 200px;
}

.scoreCell {
	height: 50px;
	width: 100px;
	text-align: center;
	font-size: 20px;
}